################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ML.Token/obj
/.vs/ML.Token/v16
/ML.Token/bin/Debug/netstandard2.1
/ML.Token/bin/Debug
/ML.TokenTests/bin/Debug/net5.0
/ML.TokenTests/obj
/.vs/ML.Token
